@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body{
  font-family: 'Jost', sans-serif;
}

.border-lines{
  border: 2px solid #252B46;
}

.border-bg{
  background-color: #1C2031;
}
.apc{
  background-color: #64CCFF;
}
.pdp{
  background-color: #D62B3C;
}
.lp{
  background-color: #0AA83F;
}

.text-color{
  color: #57656B;
}


  /*  con_bg: '#1E1E1E', */
  