@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


.svg-map-container {
    width: 100%;
    max-width: 768px;
    margin: 20px auto;
  }
  
  .svg-map-container .svg-map__location {
    fill: #d1d5db;
    transition: fill 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .svg-map-container .svg-map__location:hover {
    fill: #f59e0b;
  }
  
  /* .svg-map-container .svg-map__location[data-name="Kano"] {
    fill: #fff;
  } */
  .svg-map-container .svg-map__location[data-name="Kano"] {
    fill: red;
    background-color: red;
  }
  
  .svg-map-container .svg-map__location[data-name="Kano"]:hover {
    fill: #e11d48;
  }


  .svg-map-small-container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .svg-map-small-container .svg-map__location {
    fill: #d1d5db;
    transition: fill 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .svg-map-small-container .svg-map__location:hover {
    fill: #f59e0b;
  }
  
  .svg-map-small-container .svg-map__location[data-name="Kano"] {
    fill: #fff;
  }
  
  .svg-map-small-container .svg-map__location[data-name="Kano"]:hover {
    fill: #e11d48;
  }
